USE [master]
GO
/****** Object:  Database [YoneticimDB]    Script Date: 06/19/2017 22:38:35 ******/
CREATE DATABASE [YoneticimDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YoneticimDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\YoneticimDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YoneticimDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\YoneticimDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YoneticimDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YoneticimDB]
GO
USE [YoneticimDB]
GO
/****** Object:  Table [dbo].[Daireler]    Script Date: 06/19/2017 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daireler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[No] [int] NOT NULL,
	[Kat] [tinyint] NULL,
	[SahibiAdi] [nvarchar](25) NOT NULL,
	[SahibiSoyadi] [nvarchar](25) NOT NULL,
	[SahibiTel] [nvarchar](15) NOT NULL,
	[KiraciAdi] [nvarchar](25) NULL,
	[KiraciSoyadi] [nvarchar](25) NULL,
	[KiraciTel] [nvarchar](15) NULL,
	[MulkId] [int] NOT NULL,
	[EPosta] [nvarchar](50) NULL,
	[Sifre] [nvarchar](16) NULL,
 CONSTRAINT [PK_Daireler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gorevliler]    Script Date: 06/19/2017 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorevliler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](25) NOT NULL,
	[Soyadi] [nvarchar](25) NOT NULL,
	[IsTanimi] [nvarchar](400) NULL,
	[Maasi] [decimal](7, 2) NULL,
	[TcNo] [char](11) NOT NULL,
	[SigortaNo] [char](16) NOT NULL,
	[MulkId] [int] NOT NULL,
	[GorevliTurId] [int] NOT NULL,
 CONSTRAINT [PK_Gorevliler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GorevliTurleri]    Script Date: 06/19/2017 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GorevliTurleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_GorevliTurleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kalemler]    Script Date: 06/19/2017 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kalemler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MulkId] [int] NOT NULL,
	[GelirMi] [bit] NOT NULL,
	[Tutar] [decimal](18, 0) NOT NULL,
	[Açıklama] [nvarchar](300) NULL,
	[Yıl] [int] NOT NULL,
	[Ay] [int] NOT NULL,
	[GorevliId] [int] NULL,
	[AidatMi] [bit] NOT NULL,
	[DaireId] [int] NULL,
 CONSTRAINT [PK_Kalemler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mulkler]    Script Date: 06/19/2017 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mulkler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[MulkId] [int] NULL,
	[BlokSayisi] [int] NOT NULL,
 CONSTRAINT [PK_Mulkler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 06/19/2017 22:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](20) NOT NULL,
	[EPosta] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Yoneticiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Daireler] ON 

INSERT [dbo].[Daireler] ([Id], [No], [Kat], [SahibiAdi], [SahibiSoyadi], [SahibiTel], [KiraciAdi], [KiraciSoyadi], [KiraciTel], [MulkId], [EPosta], [Sifre]) VALUES (143, 1, 1, N'Alexis', N'Seymour', N'01238-025798', N'Brianna', N'Coles', N'01534-820452', 23, N'C.Smith@arstechnica.co', N'123')
INSERT [dbo].[Daireler] ([Id], [No], [Kat], [SahibiAdi], [SahibiSoyadi], [SahibiTel], [KiraciAdi], [KiraciSoyadi], [KiraciTel], [MulkId], [EPosta], [Sifre]) VALUES (144, 101, 2, N'Nevaeh', N'Mcgregor', N'01265-565137', N'Isaac', N'Thompson', N'01367-959129', 23, N'M.Adam@msdn.org', N'123')
INSERT [dbo].[Daireler] ([Id], [No], [Kat], [SahibiAdi], [SahibiSoyadi], [SahibiTel], [KiraciAdi], [KiraciSoyadi], [KiraciTel], [MulkId], [EPosta], [Sifre]) VALUES (145, 201, 3, N'Carson', N'Whittaker', N'01645-494885', N'Arianna', N'Jones', N'01673-097738', 23, N'S.Peters@taobao.net', N'123')
SET IDENTITY_INSERT [dbo].[Daireler] OFF
SET IDENTITY_INSERT [dbo].[Gorevliler] ON 

INSERT [dbo].[Gorevliler] ([Id], [Adi], [Soyadi], [IsTanimi], [Maasi], [TcNo], [SigortaNo], [MulkId], [GorevliTurId]) VALUES (1, N'Nevaeh', N'Giles', N'Morbi sit amet libero vitae augue porttitor tempus.', CAST(1997.00 AS Decimal(7, 2)), N'2385624213 ', N'S24148          ', 22, 2)
INSERT [dbo].[Gorevliler] ([Id], [Adi], [Soyadi], [IsTanimi], [Maasi], [TcNo], [SigortaNo], [MulkId], [GorevliTurId]) VALUES (2, N'Faith', N'Hilton', N'Pellentesque accumsan mi eu velit ultrices varius.', CAST(1859.00 AS Decimal(7, 2)), N'2029723780 ', N'S24270          ', 22, 2)
INSERT [dbo].[Gorevliler] ([Id], [Adi], [Soyadi], [IsTanimi], [Maasi], [TcNo], [SigortaNo], [MulkId], [GorevliTurId]) VALUES (3, N'Maya', N'Riddick', N'Nam vitae purus gravida, dignissim lacus in, venenatis elit.', CAST(1316.00 AS Decimal(7, 2)), N'2020523351 ', N'S17446          ', 23, 1)
SET IDENTITY_INSERT [dbo].[Gorevliler] OFF
SET IDENTITY_INSERT [dbo].[GorevliTurleri] ON 

INSERT [dbo].[GorevliTurleri] ([Id], [Adi]) VALUES (1, N'Kapıcı')
INSERT [dbo].[GorevliTurleri] ([Id], [Adi]) VALUES (2, N'Temizlikçi')
INSERT [dbo].[GorevliTurleri] ([Id], [Adi]) VALUES (3, N'Güvenlikçi')
SET IDENTITY_INSERT [dbo].[GorevliTurleri] OFF
SET IDENTITY_INSERT [dbo].[Kalemler] ON 

INSERT [dbo].[Kalemler] ([Id], [MulkId], [GelirMi], [Tutar], [Açıklama], [Yıl], [Ay], [GorevliId], [AidatMi], [DaireId]) VALUES (1, 22, 1, CAST(1 AS Decimal(18, 0)), N'Açıklama : vocmdevzsi', 2014, 5, NULL, 0, NULL)
INSERT [dbo].[Kalemler] ([Id], [MulkId], [GelirMi], [Tutar], [Açıklama], [Yıl], [Ay], [GorevliId], [AidatMi], [DaireId]) VALUES (2, 22, 1, CAST(0 AS Decimal(18, 0)), N'Açıklama : fotioozeaz', 2014, 6, NULL, 0, NULL)
INSERT [dbo].[Kalemler] ([Id], [MulkId], [GelirMi], [Tutar], [Açıklama], [Yıl], [Ay], [GorevliId], [AidatMi], [DaireId]) VALUES (3, 22, 1, CAST(0 AS Decimal(18, 0)), N'Açıklama : tnsnrqqxik', 2014, 7, NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Kalemler] OFF
SET IDENTITY_INSERT [dbo].[Mulkler] ON 

INSERT [dbo].[Mulkler] ([Id], [Adres], [Adi], [MulkId], [BlokSayisi]) VALUES (22, N'627 Whittaker Highland', N'Site-0', NULL, 2)
INSERT [dbo].[Mulkler] ([Id], [Adres], [Adi], [MulkId], [BlokSayisi]) VALUES (23, N'256 Shepherd Close', N'Apt-1', NULL, 1)
INSERT [dbo].[Mulkler] ([Id], [Adres], [Adi], [MulkId], [BlokSayisi]) VALUES (24, N'28 Wyatt Court', N'Apt-2', NULL, 1)
SET IDENTITY_INSERT [dbo].[Mulkler] OFF
SET IDENTITY_INSERT [dbo].[Yoneticiler] ON 

INSERT [dbo].[Yoneticiler] ([Id], [Ad], [Soyad], [EPosta], [Sifre]) VALUES (25, N'Egehan', N'Gür', N'egehan@mail.com', N'123')
INSERT [dbo].[Yoneticiler] ([Id], [Ad], [Soyad], [EPosta], [Sifre]) VALUES (26, N'Murat', N'Başeren', N'murat@mail.com', N'123')
SET IDENTITY_INSERT [dbo].[Yoneticiler] OFF
ALTER TABLE [dbo].[Daireler]  WITH CHECK ADD  CONSTRAINT [FK_Daireler_Mulkler] FOREIGN KEY([MulkId])
REFERENCES [dbo].[Mulkler] ([Id])
GO
ALTER TABLE [dbo].[Daireler] CHECK CONSTRAINT [FK_Daireler_Mulkler]
GO
ALTER TABLE [dbo].[Gorevliler]  WITH CHECK ADD  CONSTRAINT [FK_Gorevliler_GorevliTurleri] FOREIGN KEY([GorevliTurId])
REFERENCES [dbo].[GorevliTurleri] ([Id])
GO
ALTER TABLE [dbo].[Gorevliler] CHECK CONSTRAINT [FK_Gorevliler_GorevliTurleri]
GO
ALTER TABLE [dbo].[Gorevliler]  WITH CHECK ADD  CONSTRAINT [FK_Gorevliler_Mulkler] FOREIGN KEY([MulkId])
REFERENCES [dbo].[Mulkler] ([Id])
GO
ALTER TABLE [dbo].[Gorevliler] CHECK CONSTRAINT [FK_Gorevliler_Mulkler]
GO
ALTER TABLE [dbo].[Kalemler]  WITH CHECK ADD  CONSTRAINT [FK_Kalemler_Daireler] FOREIGN KEY([DaireId])
REFERENCES [dbo].[Daireler] ([Id])
GO
ALTER TABLE [dbo].[Kalemler] CHECK CONSTRAINT [FK_Kalemler_Daireler]
GO
ALTER TABLE [dbo].[Kalemler]  WITH CHECK ADD  CONSTRAINT [FK_Kalemler_Gorevliler] FOREIGN KEY([GorevliId])
REFERENCES [dbo].[Gorevliler] ([Id])
GO
ALTER TABLE [dbo].[Kalemler] CHECK CONSTRAINT [FK_Kalemler_Gorevliler]
GO
ALTER TABLE [dbo].[Kalemler]  WITH CHECK ADD  CONSTRAINT [FK_Kalemler_Mulkler] FOREIGN KEY([MulkId])
REFERENCES [dbo].[Mulkler] ([Id])
GO
ALTER TABLE [dbo].[Kalemler] CHECK CONSTRAINT [FK_Kalemler_Mulkler]
GO
ALTER TABLE [dbo].[Mulkler]  WITH CHECK ADD  CONSTRAINT [FK_Mulkler_Mulkler] FOREIGN KEY([MulkId])
REFERENCES [dbo].[Mulkler] ([Id])
GO
ALTER TABLE [dbo].[Mulkler] CHECK CONSTRAINT [FK_Mulkler_Mulkler]
GO
ALTER TABLE [dbo].[Mulkler]  WITH CHECK ADD  CONSTRAINT [CK_Mulkler] CHECK  (([MulkId] IS NULL AND [Adres] IS NOT NULL OR [MulkId] IS NOT NULL AND [Adres] IS NULL))
GO
ALTER TABLE [dbo].[Mulkler] CHECK CONSTRAINT [CK_Mulkler]
GO
USE [master]
GO
